# # 主npm源
# registry=https://registry.npmmirror.com/
# # electron 备用镜像（避开cdn解析故障）
# electron_mirror=https://registry.npmmirror.com/mirrors/electron/
# electron_builder_binaries_mirror=https://registry.npmmirror.com/mirrors/electron-builder-binaries/

onlyBuiltDependencies=sqlite3 @serialport/bindings-cpp core-js
